In [12]:
import pandas as pd

In [13]:
sod_register = pd.read_csv('sod_register.csv')

In [14]:
sod_register.head()

,user_id,event_time,user_point_in_lifetime,user_country,user_device_platform,user_marketing_user,user_session_id,event_type,game_name,user_install_time
0,0c2b023e-880d-49b9-b797-255940eced14,2020-01-01 17:52:52.646000,0,UA,iOS,True,1577901172648,register,Super Overdrive,2020-01-01 17:52:52.648000
1,3996ff3f-e710-4370-93b1-e604175b8bfb,2020-01-01 17:58:41.699000,0,CL,iOS,False,1577901521701,register,Super Overdrive,2020-01-01 17:58:41.701000
2,e4349066-a3c4-4185-9146-b536d4daa0a3,2020-01-01 18:14:08.822000,0,BR,Android,False,1577902448824,register,Super Overdrive,2020-01-01 18:14:08.824000
3,20da4cc5-6ccc-4ef7-a326-d5c4196f0e93,2020-01-01 18:26:34.531000,0,FR,Android,False,1577903194533,register,Super Overdrive,2020-01-01 18:26:34.533000
4,e9dafcf4-7824-42c9-bf56-18e367d6a25f,2020-01-01 18:54:03.526000,0,FR,Android,False,1577904843528,register,Super Overdrive,2020-01-01 18:54:03.528000

In [15]:
# Load the data
register_df = pd.read_csv("sod_register.csv", parse_dates=['event_time'])
session_df = pd.read_csv("sod_session_start.csv", parse_dates=['event_time'])

In [16]:
# Step 1: Prepare register data
register_df['register_date'] = register_df['event_time'].dt.date
register_df = register_df[['user_id', 'register_date']]

In [17]:
register_df

                                     user_id register_date
0       0c2b023e-880d-49b9-b797-255940eced14    2020-01-01
1       3996ff3f-e710-4370-93b1-e604175b8bfb    2020-01-01
2       e4349066-a3c4-4185-9146-b536d4daa0a3    2020-01-01
3       20da4cc5-6ccc-4ef7-a326-d5c4196f0e93    2020-01-01
4       e9dafcf4-7824-42c9-bf56-18e367d6a25f    2020-01-01
...                                      ...           ...
181889  14fba79c-ff4b-44b0-96bd-420f16546583    2020-01-28
181890  1219d70e-0a02-483e-ba6c-a4fe503daae4    2020-01-28
181891  dfc1bb33-a491-4d70-bab9-feea2e580c8a    2020-01-28
181892  be53abe2-24fe-4b8f-afe9-2591cce44bc1    2020-01-28
181893  d5b7dd99-7c16-464f-bd76-5ca2258ff82a    2020-01-28

[181894 rows x 2 columns]

In [18]:
# Step 2: Merge session data with register data
session_df = session_df[['user_id', 'event_time']]
session_df = session_df.merge(register_df, on='user_id', how='left')
session_df

,user_id,event_time,register_date
0,bf9ee84b-5487-45a1-8e04-6d02a01744b3,2020-01-01 20:54:00.551,NaN
1,9548245a-b26c-4a0a-904e-300cc1a63a51,2020-01-01 20:55:18.242,NaN
2,891a3612-7ad5-4e6d-82c3-25baf1aef291,2020-01-01 20:56:41.654,2020-01-01
3,e255ba6e-db2b-495c-99e5-296c929c6bab,2020-01-01 20:57:11.073,NaN
4,35fdeb2f-2d37-4cda-a70a-4e7d3340a1ff,2020-01-01 20:57:26.057,NaN
...,...,...,...
1981956,68e87a4e-edbc-489c-95ca-240b4cc80759,2020-01-30 20:57:40.107,2020-01-28
1981957,8e746a34-792f-49d6-addb-7cff9555d5f1,2020-01-30 20:57:46.412,2020-01-30
1981958,6afc0a35-9bd5-4dec-9d64-86b111e2e821,2020-01-30 20:58:02.637,NaN
1981959,5fad9fa8-98d7-4544-ba4d-fbea0c72d04a,2020-01-30 20:58:18.475,2020-01-24
1981960,5813e50c-fdb9-44b2-bb4c-75784298d33b,2020-01-30 20:59:00.126,2020-01-26

In [19]:
# Step 3: Calculate days since registration for each session
session_df['session_day'] = (session_df['event_time'].dt.date - session_df['register_date']).dt.days
session_df

,user_id,event_time,register_date,session_day
0,bf9ee84b-5487-45a1-8e04-6d02a01744b3,2020-01-01 20:54:00.551,NaN,NaN
1,9548245a-b26c-4a0a-904e-300cc1a63a51,2020-01-01 20:55:18.242,NaN,NaN
2,891a3612-7ad5-4e6d-82c3-25baf1aef291,2020-01-01 20:56:41.654,2020-01-01,0.0
3,e255ba6e-db2b-495c-99e5-296c929c6bab,2020-01-01 20:57:11.073,NaN,NaN
4,35fdeb2f-2d37-4cda-a70a-4e7d3340a1ff,2020-01-01 20:57:26.057,NaN,NaN
...,...,...,...,...
1981956,68e87a4e-edbc-489c-95ca-240b4cc80759,2020-01-30 20:57:40.107,2020-01-28,2.0
1981957,8e746a34-792f-49d6-addb-7cff9555d5f1,2020-01-30 20:57:46.412,2020-01-30,0.0
1981958,6afc0a35-9bd5-4dec-9d64-86b111e2e821,2020-01-30 20:58:02.637,NaN,NaN
1981959,5fad9fa8-98d7-4544-ba4d-fbea0c72d04a,2020-01-30 20:58:18.475,2020-01-24,6.0
1981960,5813e50c-fdb9-44b2-bb4c-75784298d33b,2020-01-30 20:59:00.126,2020-01-26,4.0

In [20]:
# Step 4: Keep only Day 1, 3, 7
session_filtered = session_df[session_df['session_day'].isin([1, 3, 7])]
session_filtered

,user_id,event_time,register_date,session_day
102,cb7e6f86-2c05-48da-a018-decd33f51584,2020-01-02 02:15:54.922,2020-01-01,1.0
103,891a3612-7ad5-4e6d-82c3-25baf1aef291,2020-01-02 02:17:48.014,2020-01-01,1.0
104,dd0f092b-c368-4b06-ac53-c523ec53d9ea,2020-01-02 02:18:06.305,2020-01-01,1.0
119,75a064ac-3aab-46f2-a753-b2d0e89accb3,2020-01-02 02:35:27.981,2020-01-01,1.0
130,fcdd17f0-5b12-4fc8-b4cb-ae2dec77c343,2020-01-02 02:40:31.928,2020-01-01,1.0
...,...,...,...,...
1981935,7795577b-b9ac-4efb-a9e7-3de4d388569b,2020-01-31 19:14:54.373,2020-01-28,3.0
1981943,ea0f1a59-041c-4c5a-8347-28dcc11fea11,2020-01-30 20:47:03.631,2020-01-29,1.0
1981945,d21aa85f-c7d1-4834-a3dc-420ce145dd84,2020-01-30 20:50:43.314,2020-01-29,1.0
1981947,ac09c75d-07d2-46a7-924a-8402c1aa9154,2020-01-30 20:51:38.230,2020-01-29,1.0
1981949,d2c86672-c14a-4881-8219-fa0d59bef494,2020-01-30 20:52:11.812,2020-01-29,1.0

In [21]:
# Step 5: Pivot to get retention flags per user
retention_pivot = session_filtered.pivot_table(
    index=['user_id', 'register_date'],
    columns='session_day',
    values='event_time',
    aggfunc='min'
).reset_index()
retention_pivot

session_day,user_id,register_date,1.0,3.0,7.0
0,0001e608-00e7-49b0-96a1-48e009af76e3,2020-01-27,2020-01-28 09:51:23.716,NaT,NaT
1,000285b5-607e-41da-914b-5d1e05209c44,2020-01-23,2020-01-24 05:37:38.551,NaT,NaT
2,00035c84-fd60-4fa0-acf0-e530c6720481,2020-01-01,2020-01-02 09:18:11.712,2020-01-04 08:13:31.661,2020-01-08 18:52:43.459
3,00065aff-252b-45c1-9c84-b5aae75c75cf,2020-01-13,2020-01-14 00:09:50.884,NaT,NaT
4,0006b2ee-3c40-42bd-9ef5-7ddc6d62ffd3,2020-01-10,2020-01-11 01:02:22.356,2020-01-13 10:12:05.118,NaT
...,...,...,...,...,...
66023,fffd495e-2fb2-46d5-99b8-3092e2f03169,2020-01-21,2020-01-22 00:26:42.309,2020-01-24 00:29:08.111,NaT
66024,fffddde1-c484-4edc-a6fa-c3f52df2d4a3,2020-01-25,2020-01-26 10:32:45.965,NaT,NaT
66025,ffff1887-c6a7-4637-ab9b-9b105ceb36bf,2020-01-04,2020-01-05 00:28:37.706,NaT,NaT
66026,ffffd34d-f0d3-42c2-a93b-cfe462c02df3,2020-01-15,2020-01-16 00:59:20.972,NaT,NaT
66027,fffffa37-50d2-488e-8a9d-77c35873d493,2020-01-12,2020-01-13 11:17:10.192,NaT,NaT

In [22]:
retention_pivot.columns.name = None  # remove pivot axis name
retention_pivot

,user_id,register_date,1.0,3.0,7.0
0,0001e608-00e7-49b0-96a1-48e009af76e3,2020-01-27,2020-01-28 09:51:23.716,NaT,NaT
1,000285b5-607e-41da-914b-5d1e05209c44,2020-01-23,2020-01-24 05:37:38.551,NaT,NaT
2,00035c84-fd60-4fa0-acf0-e530c6720481,2020-01-01,2020-01-02 09:18:11.712,2020-01-04 08:13:31.661,2020-01-08 18:52:43.459
3,00065aff-252b-45c1-9c84-b5aae75c75cf,2020-01-13,2020-01-14 00:09:50.884,NaT,NaT
4,0006b2ee-3c40-42bd-9ef5-7ddc6d62ffd3,2020-01-10,2020-01-11 01:02:22.356,2020-01-13 10:12:05.118,NaT
...,...,...,...,...,...
66023,fffd495e-2fb2-46d5-99b8-3092e2f03169,2020-01-21,2020-01-22 00:26:42.309,2020-01-24 00:29:08.111,NaT
66024,fffddde1-c484-4edc-a6fa-c3f52df2d4a3,2020-01-25,2020-01-26 10:32:45.965,NaT,NaT
66025,ffff1887-c6a7-4637-ab9b-9b105ceb36bf,2020-01-04,2020-01-05 00:28:37.706,NaT,NaT
66026,ffffd34d-f0d3-42c2-a93b-cfe462c02df3,2020-01-15,2020-01-16 00:59:20.972,NaT,NaT
66027,fffffa37-50d2-488e-8a9d-77c35873d493,2020-01-12,2020-01-13 11:17:10.192,NaT,NaT

In [23]:
retention_pivot.rename(columns={
    1: 'd1_returned',
    3: 'd3_returned',
    7: 'd7_returned'
}, inplace=True)
retention_pivot

,user_id,register_date,d1_returned,d3_returned,d7_returned
0,0001e608-00e7-49b0-96a1-48e009af76e3,2020-01-27,2020-01-28 09:51:23.716,NaT,NaT
1,000285b5-607e-41da-914b-5d1e05209c44,2020-01-23,2020-01-24 05:37:38.551,NaT,NaT
2,00035c84-fd60-4fa0-acf0-e530c6720481,2020-01-01,2020-01-02 09:18:11.712,2020-01-04 08:13:31.661,2020-01-08 18:52:43.459
3,00065aff-252b-45c1-9c84-b5aae75c75cf,2020-01-13,2020-01-14 00:09:50.884,NaT,NaT
4,0006b2ee-3c40-42bd-9ef5-7ddc6d62ffd3,2020-01-10,2020-01-11 01:02:22.356,2020-01-13 10:12:05.118,NaT
...,...,...,...,...,...
66023,fffd495e-2fb2-46d5-99b8-3092e2f03169,2020-01-21,2020-01-22 00:26:42.309,2020-01-24 00:29:08.111,NaT
66024,fffddde1-c484-4edc-a6fa-c3f52df2d4a3,2020-01-25,2020-01-26 10:32:45.965,NaT,NaT
66025,ffff1887-c6a7-4637-ab9b-9b105ceb36bf,2020-01-04,2020-01-05 00:28:37.706,NaT,NaT
66026,ffffd34d-f0d3-42c2-a93b-cfe462c02df3,2020-01-15,2020-01-16 00:59:20.972,NaT,NaT
66027,fffffa37-50d2-488e-8a9d-77c35873d493,2020-01-12,2020-01-13 11:17:10.192,NaT,NaT

In [24]:
# Step 6: Mark retained (1 if session exists, 0 otherwise)
retention_pivot['d1_retained'] = retention_pivot['d1_returned'].notnull().astype(int)
retention_pivot['d3_retained'] = retention_pivot['d3_returned'].notnull().astype(int)
retention_pivot['d7_retained'] = retention_pivot['d7_returned'].notnull().astype(int)
retention_pivot

,user_id,register_date,d1_returned,d3_returned,d7_returned,d1_retained,d3_retained,d7_retained
0,0001e608-00e7-49b0-96a1-48e009af76e3,2020-01-27,2020-01-28 09:51:23.716,NaT,NaT,1,0,0
1,000285b5-607e-41da-914b-5d1e05209c44,2020-01-23,2020-01-24 05:37:38.551,NaT,NaT,1,0,0
2,00035c84-fd60-4fa0-acf0-e530c6720481,2020-01-01,2020-01-02 09:18:11.712,2020-01-04 08:13:31.661,2020-01-08 18:52:43.459,1,1,1
3,00065aff-252b-45c1-9c84-b5aae75c75cf,2020-01-13,2020-01-14 00:09:50.884,NaT,NaT,1,0,0
4,0006b2ee-3c40-42bd-9ef5-7ddc6d62ffd3,2020-01-10,2020-01-11 01:02:22.356,2020-01-13 10:12:05.118,NaT,1,1,0
...,...,...,...,...,...,...,...,...
66023,fffd495e-2fb2-46d5-99b8-3092e2f03169,2020-01-21,2020-01-22 00:26:42.309,2020-01-24 00:29:08.111,NaT,1,1,0
66024,fffddde1-c484-4edc-a6fa-c3f52df2d4a3,2020-01-25,2020-01-26 10:32:45.965,NaT,NaT,1,0,0
66025,ffff1887-c6a7-4637-ab9b-9b105ceb36bf,2020-01-04,2020-01-05 00:28:37.706,NaT,NaT,1,0,0
66026,ffffd34d-f0d3-42c2-a93b-cfe462c02df3,2020-01-15,2020-01-16 00:59:20.972,NaT,NaT,1,0,0
66027,fffffa37-50d2-488e-8a9d-77c35873d493,2020-01-12,2020-01-13 11:17:10.192,NaT,NaT,1,0,0

In [14]:
# Step 7: Aggregate by register_date
summary_df = retention_pivot.groupby('register_date').agg(
    registered_users=('user_id', 'count'),
    day_1_retained=('d1_retained', 'sum'),
    day_3_retained=('d3_retained', 'sum'),
    day_7_retained=('d7_retained', 'sum')
).reset_index()

In [16]:
print(summary_df)

   register_date  registered_users  day_1_retained  day_3_retained  \
0     2020-01-01              1883            1648             921
1     2020-01-02              1905            1703             891
2     2020-01-03              1987            1766             946
3     2020-01-04              2268            2006            1010
4     2020-01-05              2297            1978            1057
5     2020-01-06              1891            1648             878
6     2020-01-07              1937            1711             914
7     2020-01-08              2072            1800             966
8     2020-01-09              2195            1941             978
9     2020-01-10              2336            2042            1021
10    2020-01-11              2636            2357            1166
11    2020-01-12              2510            2174            1124
12    2020-01-13              2187            1902            1055
13    2020-01-14              2089            1883             936
14    2020-01-15              2052            1827             927
15    2020-01-16              2046            1783             918
16    2020-01-17              2097            1856             919
17    2020-01-18              2518            2208            1039
18    2020-01-19              2502            2161            1133
19    2020-01-20              2181            1930             977
20    2020-01-21              2163            1867            1035
21    2020-01-22              2227            1970            1023
22    2020-01-23              2212            1961            1027
23    2020-01-24              2320            2070            1020
24    2020-01-25              2552            2340            1107
25    2020-01-26              2682            2434            1259
26    2020-01-27              2182            2000            1049
27    2020-01-28              2127            1956             971
28    2020-01-29              1979            1979               0
29    2020-01-30              1995            1995               0

    day_7_retained
0              466
1              496
2              486
3              592
4              650
5              500
6              525
7              565
8              527
9              516
10             624
11             635
12             534
13             474
14             507
15             499
16             510
17             652
18             668
19             518
20             512
21             547
22             536
23             568
24               0
25               0
26               0
27               0
28               0
29               0

In [15]:
# Step 8: Export to CSV for Tableau
summary_df.to_csv("retention_summary_for_tableau.csv", index=False)

print("Exported retention_summary_for_tableau.csv")

Exported retention_summary_for_tableau.csv